.ipynb_checkpoints
*.nc
*.npz
*.png
*.gif
*.mp4

# don't track executed notebooks
workflow_executed/**
results/**

# don't track container images
*.sif
*.pyc

*/.ipynb_notebooks
*.out
*.err
notebooks/dask-worker-space/
*/*/.ipynb_notebooks
