.ipynb_checkpoints
*.nc
*.npz
*.png
*.gif
*.mp4

# don't track executed notebooks
./notebooks_executed/**

# don't track container images
*.sif
*.pyc

*/.ipynb_notebooks
*/slurm*.out
slurm*.out
notebooks/dask-worker-space/
*/*/.ipynb_notebooks
